Data Entry and Verification
===========================

Overview
--------
Data entry and verification are two separate but interrelated steps in data management. Timely completion of these steps ensures maximum data completeness and accuracy. Though ideal timing will vary by project, data type, and available resources, completion of entry and verification within one week of data collection is a standard best practice. Important considerations include:
  * Identification of parties responsible for entry, verification and oversight
  * Utilization of software appropriate to the project's demands
  * Designation of a secure storage location
  * Development of workflow detailing tracking procedures and frequency of completion

Content
-------

* Process
  - Data Entry
  - Data Verification
* Mechanism
  - Software
  - Storage
* Oversight
  - Responsible Party
  - Workflow and tracking


Process
-------

#### Data Entry

Data is given to designated study staff members to enter electronically in a timely manner after collection. Though the project's specific demands and resources dictate the specific timing, data entry should be prioritized since it helps identify potentially missing data. In designating staff members for data entry, investigators and managers should consider whether or not the data will unblind staff to treatment assignment.

#### Data Verification

Data is verified in one of two ways:

1. Data is entered once by one study staff member, who marks it 'Ready to be reviewed' electronically. Subsequently, the entered data is reviewedby a second study staff member and compared to the original data. The second staff member will then make any necessary corrections and mark it as 'Completed' or 'Reviewed'.

2. In the second verification method, double data entry is utilized. Two staff members will separately enter identical data sets into the collection instruments, and a third staff member will then compare the two entries for discrepancies, make corrections, and then merge them into one complete, verified file.


Mechanism
---------

#### Software


#### Storage


Oversight
---------
