Data Entry and Verification
===========================

Overview
--------
Data entry and verification are two separate but interrelated steps in data management. Timely completion of these steps ensures maximum data completeness and accuracy. Though ideal timing will vary by project, data type, and available resources, completion of entry and verification within one week of data collection is a standard best practice. Important considerations include:
  * Identification of parties responsible for entry, verification and oversight
  * Utilization of software appropriate to the project's demands
  * Designation of a secure storage location
  * Development of workflow detailing tracking procedures and frequency of completion

Content
-------

* Process
  - Data Entry
  - Data Verification


Process
-------

#### Data Entry Process

 	Data is given to unblinded study staff members to enter
 	electronically in a timely manner after visits. Most data is
 	entered and saved within 7 days of the study visit; all data is
 	entered within 2 weeks of the visit date.

#### Data Verification Process

	Data is verified in one of two ways:

	1) Data is entered once by one study staff member, who would mark
 	it as 'Ready to be reviewed' electronically and then is reviewed
 	in a timely manner by a second study staff member and compared to
 	the original data. The second staff memeber will then make any
 	necessary corrections and mark it as 'Completed' or 'Reviewed'.

 	2) In the second verification method, double data entry is
 	utilized. Two staff members will enter identical data sets into
 	the collection instruments, and a third staff member will then
 	compare the two entries for discrepancies, make corrections, and
 	then merge them into one complete, verified file.
